<!DOCTYPE html>
<html lang="ro">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog de calatorie</title>

</head>

<body>

<header id="#sus">
  
  
  <link rel="stylesheet" href="css/proiect1.css" type="text/css">
  <h1>Blog de Calatorii</h1>
  <img src="imagini/logo.jpg" alt="o poza" >
</header>

<nav>
  <ul class="meniu">
      <li><a href="/proiect"><b>Acasă</b></a>
      </li>
    
      <li><b>Destinații</b>
        <ul class="submeniu">
            <li><a href="/soare">Soare</a></li>
            <li><a href="/natura">Natura</a></li>
        </ul>
          </li>
  
         <li><a href="/despre"><b>Despre</b></a></li> 
         <li><a href="/contact"><b>Contact</b></a></li>
    </ul>
</nav>

<h2>Formular de contact</h2>
  
  <form id="contactForm">
    <div>
      <label for="name">Nume:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="message">Mesaj:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <button type="submit" id="submitButton">Trimite</button>
  </form>
  
<div >
  <section id="tara1" class="bv" >
    
    <ul>
        <li><p>•Adresa de email:blogdecalatorii@gmail.com </p></li>
        <li><p>•Numar de telefon: 07anxcjsX </p></li>
        <li><p>•Instagram:@blogdecalatorii </p></li>
        <li><p></p></li>
    </ul>
    <p>Suntem curiosi de parerile tale, asa ca nu ezita sa ne contactezi!</p>
   </section> 
</div>

<footer>
  <a class="hyperlink" href="#top">Inapoi la inceput</a>
</footer>
<script src="js/formularContact.js"></script>
</body>
</html>