<!DOCTYPE html>
<html lang="ro">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog de calatorie</title>
</head>

<body>

<header id="#sus">
  
  
  <link rel="stylesheet" href="css/proiect1.css" type="text/css">
  <h1>Blog de Calatorii</h1>
  <img src="imagini/logo.jpg" alt="o poza" >

</header>

<nav>
  <ul class="meniu">
      <li><a href="/proiect"><b>Acasă</b></a>
      </li>
    
      <li><b>Destinații</b>
        <ul class="submeniu">
            <li><a href="/soare">Soare</a></li>
            <li><a href="/natura">Natura</a></li>
        </ul>
          </li>
  
         <li><a href="/despre"><b>Despre</b></a></li> 
         <li><a href="/contact"><b>Contact</b></a></li>
    </ul>
</nav>

<div class="container">
  <section id="tara1" class="bv" >
    <h3>Descriere</h3>
    <ul>
    <p>
      <li>• Echipa noastră este formată din scriitori pasionați care sunt dedicați să aducă cititorilor noștri cel mai bun conținut posibil de călătorie. Suntem un grup de călători cu experiență, fiecare cu perspective și perspective unice asupra locurilor despre care scriem.</li>
      <li>•Ne angajăm să oferim conținut de înaltă calitate, care este atât informativ, cât și distractiv. </li>
      <li>•Fie că este un ghid detaliat către o anumită destinație, o <b>poveste personală de călătorie</b> sau o recenzie a unui produs sau serviciu de călătorie, ne propunem să oferim cititorilor noștri informații și sfaturi valoroase pe care le pot folosi pentru a-și planifica propriile călătorii.</li>
      <li>•Suntem pasionați de călătorii și sperăm să ne inspirăm cititorii să exploreze locuri noi, să încerce lucruri noi și să îmbrățișeze experiențe noi. Suntem încântați să vă împărtășim aventurile noastre și să vă ajutăm <b>să descoperiți minunile lumii!</b></li></p>
   </ul></section> 

   <div class="containerDespre">
    <h1>Aventura prin continente - Concurs</h1>
    <div class="question"></div>
    <div class="options"></div>
    <button id="submit-btn" class="button-pastel">Răspunde</button>
    <div class="score"></div>
    <div class="win-message"></div>
    <div class="lose-message"></div>
  </div>

   <section id="destinatii" class="destinatii">
    <h2  class="-destinatii"><b>Membrii echipei:</b></h2>
      <article class="carte1">
        <ul>
          <li><img src="../imagini/ale.jpeg" alt="o poza" width="150" height="170"></li>
          <li><b>Nume:</b> Alexandra</li>
        </ul>
        <p>Căutător de aventură - caută mereu următorul fior, fie că este o drumeție pe vârful unui munte sau o saritura cu bungee de pe un pod. Tânjeste după adrenalină și nu îi este frică să iasă din zona lor de confort.</p>
          </article>
      
    <article class="carte2">
      <ul>
        <li><img src="../Imagini/delia.jpeg" alt="o poza" width="150" height="170"></li>
        <li><b>Nume:</b> Delia</li>
      </ul>
      <p>
        Entuziast cultural - este pasionată de a se scufunda în cultura locală, de a vizita muzee și situri istorice, de a încerca bucătăria locală și de a afla despre tradițiile și obiceiurile oamenilor pe care îi întâlnește.
      </p>
  </article>

    <article class="carte3">
      <ul>
        <li><img src="../Imagini/eu.jpeg" alt="o poza" width="150" height="170"></li>
        <li><b>Nume:</b> Alexandra</li>
      </ul>
      <p>Foodie Explorer - Pentru ea călătoria se referă la mâncare. Alexandra caută piețe locale, camioane cu alimente și restaurante, încercând fiecare fel de mâncare nou pe care îl poate găsi. E mereu în căutarea următoarei aventuri culinare.</p>
     </article>

    <article class="carte4">
      <ul>
        <li><img src="../Imagini/liviu.png" alt="o poza" width="150" height="170"></li>
        <li><b>Nume:</b>Liviu</li>
      </ul>
      <p>Buget Backpacker - El stă în pensiuni, mănâncă mâncare stradală și călătorește cu autobuzul sau trenul pentru a menține costurile scăzute. Este plin de resurse și este mereu în căutarea unei oferte bune.</p>
      </article>
  </section>
</div>

<footer>
  <a class="hyperlink" href="#top">Inapoi la inceput</a>
</footer>
<script src="js/joculet-test.js"></script>
</body>
</html>