<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog de calatorie</title>
</head>

<body>


<header id="#sus">
  <link rel="stylesheet" href="css/proiect1.css" type="text/css">
  <h1>Blog de Calatorii</h1>
  <img src="imagini/logo.jpg" alt="o poza" >
</header>

<nav>
  <ul class="meniu">
      <li><b>Acasă</b>
          <ul class="submeniu">
              <li><a href="#acasa">Bine ati venit</a></li>
              <li><a href="#destinatii">Destinatii </a></li>
              <li><a href="#anunturi">Oferte</a></li>
              <li><a href="#orar">Orar</a></li>
              <li><a href="#galerie">Galerie</a></li>
          </ul>
      </li>
    
     <li><b>Destinații</b>
      <ul class="submeniu">
          <li><a href="/soare">Soare</a></li>
          <li><a href="/natura">Natura</a></li>
      </ul>
        </li>

       <li><a href="/despre"><b>Despre</b></a></li> 
       <li><a href="/contact"><b>Contact</b></a></li>
  </ul>
</nav>



<div class="container">
  <section id="acasa" class="bv">
    <h2><b>Bine ați venit!</b></h2>
    <p>Blogul nostru de călătorii este un spațiu în care ne putem împărtăși experiențele, ideile și recomandările de călătorie cu cititorii noștri.
       Prin intermediul acestui blogul, echipa noastră, își dorește să poată inspira alți oameni să călătorească, să le ofere sfaturi practice și să le prezinte frumusețea și diversitatea destinațiilor pe care le vizitează.
     <p>Cu dedicare, muncă și dragoste pentru aventură, blogul nostru de călătorii sperăm să devină o resursă valoroasă pentru călătorii din întreaga lume. Enjoy!</p>
    </section>

  <section id="destinatii" class="destinatii">
    <h2  class="-destinatii"><b>Destinații favorite</b></h2>
      <article class="carte1">
        <h3>Spania:</h3>
        <ul>
          <li><img src="imagini/spania.png" alt="o poza" width="150" height="170"></li>
          <li><b class="Bold">Autor fotografie:</b> Mihai</li>
        </ul>
        <p class="paragraf">Din experiența mea:
          Spania este o țară vibrantă și diversă situată în sud-vestul Europei, are multe de oferit, de la muzee de artă de clasă mondială la plaje și munți uimitori, bucătărie delicioasă și viață de noapte plină de viață.        </p>
      </article>
      
    <article class="carte2">
      <h3>Olanda:</h3>
      <ul>
        <li><img src="imagini/olanda.jpg" alt="o poza" width="150" height="170"></li>
        <li><b>Autor fotografie:</b> Sara</li>
      </ul>
      <p class="paragraf">Din experiența mea:
       Olanda este o țară fermecătoare situată în nord-vestul Europei, cunoscută pentru orașele istorice, peisajul rural frumos și cultura vibrantă. Are ceva de oferit pentru toată lumea, de la artă și istorie până la activități în aer liber și mâncare delicioasă.
      </p>
    </article>

    <article class="carte3">
      <h3>Franța:</h3>
      <ul>
        <li><img src="Imagini/franta.png" alt="o poza" width="150" height="170"></li>
        <li><b>Autor fotografie:</b> Alexandra</li>
      </ul>
      <p class="paragraf">Din experiența mea:
        Franța este o țară situată în Europa de Vest, cunoscută pentru istoria, cultura și bucătăria sa bogată. Ca destinație turistică, Franța oferă o varietate de atracții, de la muzee de artă de clasă mondială la arhitectură uimitoare, peisaj rural frumos și mâncare și vin delicios.      </p>
    </article>

    <article class="carte4">
      <h3>România:</h3>
      <ul>
        <li><img src="Imagini/romania.jpg" alt="o poza" width="150" height="170"></li>
        <li><b>Autor fotografie:</b> Edi</li>
      </ul>
      <p class="paragraf">Din experiența mea:
        România este o țară situată în sud-estul Europei, cunoscută pentru peisajele sale uimitoare, istoria bogată și cultura vibrantă. Ca destinație turistică, România oferă o varietate de atracții, de la castele medievale și biserici fortificate până la minuni naturale.</p>
    </article>
  </section>

  <section id="anunturi" class="-anunturi">
    <h2>Oferte de călătorie și anunțuri:</h2>
    <p><time datetime="2023-05-01"> 5 mai 2023</time>: Ofertă la biletele de avion pentru Grecia.</p>
    <p><time datetime="2023-05-08"> 8 mai 2023</time>: Cea mai cautată destinație turistică de anul acesta, preț nou</p>
    <p><time datetime="2023-06-01"> 1 iunie 2023</time>:Călătorește în România la super preț!</p>
    <p><time datetime="2023-07-01"> 1 iulie 2023</time>: Am găsit destinația perfectă pentru o călătorie cu familia</p>
    <p><time datetime="2023-06-28"> 28 iunie 2023</time>: City break de nerefuzat în Italia!</p>
  </section>

  <section id="orar" class="orar">
    <h2>Program de consultații</h2>
    <table>
      <tr>
        <th class="primaColoana">Perioada</th>
        <th>Zi</th>
        <th>Dimineata</th>
        <th>Dupa-amiaza</th>
      </tr>

      <tr>
        <td>Zile lucratoare</td>
        <td>Luni-Vineri</td>
        <td>8-12</td>
        <td>14-20</td>
      </tr>
      <tr>
        <td class="primaColoana" rowspan="2">Weekend</td>
        <td> Sambata</td>
        <td>10-12</td>
        <td>14-18</td>
      </tr>
       <tr>
        <td> Duminica</td>
        <td colspan="2">Inchis</td>
       </tr>
    </table>

  </section>

  <section id="galerie" class="galerie">
    <h2 class="-galerie">Imagini din călătoriile urmăritorilor</h2>
    <div class="row">
      <figure class="coloana">
        <img src="Imagini/islanda.jfif" alt="Islanda"  width="300" height="450" >
        <figcaption>Fig.1 - Islanda</figcaption>
      </figure>
      
      <figure class="coloana">
        <img src="Imagini/aurora-silanda.jpeg" alt="Aurora" width="300" height="450" >
        <figcaption>Fig.2 - Auorora Boreala</figcaption>
      </figure>
      
      <figure class="coloana">
        <img src="Imagini/cascada.jpg" alt="Romania" width="300" height="450">
        <figcaption>Fig.3 - Cascada Bigar</figcaption>
      </figure>
    </div>
    <div class="row">
      <figure class="coloana">
        <img src="Imagini/carpati.jfif" alt="Carpati" width="300" height="450">
        <figcaption>Fig.4 - Muntii Carpati-Ro</figcaption>
      </figure>
      
      <figure class="coloana">
        <img src="Imagini/bali.jfif" alt="Bali" width="300" height="450">
        <figcaption>Fig.5 - Bali</figcaption>
      </figure>
      
      <figure class="coloana">
        <img src="Imagini/japonia.jpg" alt="japonia" width="300" height="450">
        <figcaption>Fig.6 - Japonia</figcaption>
      </figure>
    </div>
  </section>

  
</div>

<footer>
  <a class="hyperlink" href="#top">Inapoi la inceput</a>
</footer>
<button id="btnScrollToTop" onclick="scrollToTop()">Înapoi sus</button>
<script src="js/buton-derulare.js"></script>

<script>
  const navElement = document.querySelector('nav');
  navElement.addEventListener('click', function(event) {
    event.stopPropagation();
  });
  function scrollToTop() {

    }
</script>
<script src='js/mouse.js'></script>
</body>
</html>